
html {
 font-family: Verdana, Arial, sans-serif;
 background-color: #8A8992;
}

.main-container {
  width: 1000px;
  margin: 10px auto;
  padding: 10px;
}

.main-title {
  text-align: center;
}

.main-title-text {
  background-color: white;
  padding: 10px;
}

.little-title-text {
  padding: 5px;
  display: flex;  
  justify-content: space-between;
}

.nav-bar {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 40px;
}

.description {
  vertical-align: middle; 
}

.padded-description {
  padding-top: 10px;
}

.step {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.step-number {
  background-color: #ABABB0;
  padding: 5px;
}

.form-content {
  width: 550px;
  margin: 30px auto;
}

.file-selector {
  background-color: #ABABB0;
  padding: 15px 5px 15px 5px;
  margin-right: 40px;
  vertical-align: middle;
}

.upload-button {
  /*Remove normal*/
  border: 0;
  background: none;
  box-shadow:none;
  border-radius: 0px;
  /*add own*/
  background-color: #ABABB0;
  padding: 15px 50px 15px 50px;
  vertical-align: middle;
}

.compiler-options {
  padding: 5px;
}

.waiting-step {
  display: none;
}

.waiting-description {
  display: inline-block;
}

.download-step {
  display: none;
}

.results-text {
  padding-top: 20px;
}

.download-button-container {
  width: 160px;
  margin: 20px auto;
}

.download-button {
  /*Remove normal*/
  border: 0;
  background: none;
  box-shadow:none;
  border-radius: 0px;
  /*add own*/
  background-color: #ABABB0;
  padding: 15px 50px 15px 50px;
  vertical-align: middle;
}

/*spinner*/

.spinner {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/*tick*/

.tick {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.circ{
    opacity: 0;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.tick{
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
    -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
    -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
    -o-transition: stroke-dashoffset 1s 0.5s ease-out;
    transition: stroke-dashoffset 1s 0.5s ease-out;
}
.drawn + svg .path{
    opacity: 1;
    stroke-dashoffset: 0;
}
/*cross*/

.cross__svg {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    stroke-width: 3;
}

.cross__circle {
    fill: none;
    margin: 0 auto;
    stroke:  #e55454;
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
}

.cross__path {
    stroke: #e55454;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    transform-origin: 50% 50% 0;
}

.cross__path.go {
  animation: 0.3s ease 0.8s normal forwards 1 running stroke;
}
  
.cross__circle.go {
  animation: 0.6s ease 0s normal forwards 1 running stroke;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
