<html>
  <head>
    <title>Cloud Compiler</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/scripts/history.js"></script>
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/history.css" />
  </head>
  <body>
    <div class="main-container">
      <h1 class="main-title">
        <span class="main-title-text">Cloud Computing: Linux Cloud C Compiler</span>
      </h1>
      <div class="nav-bar">
          <h2>
              <div class="little-title-text"><span>History | <a href="/">New</a></span><span class="name">{{name}}</span></div>
          </h2>
      </div>
      <div class="history-content">
        <ul class="links">
        {% for exe in executables %}
            <li>
                <div class="item-title">
                  <span class="name">{{ exe.name }}</span>
                  <input type="button" value="Show Messages" class="message-button"/>
                  <input type="hidden" value="/api/v1/results/{{ exe.url }}"  class="message-url"//>
                  {% if exe.success %}
                      <a href="/api/v1/executable/{{ exe.url }}" class="link message-exe">Download Executable</a>
                  {% endif %}
                  <div class="spinner invisible">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                  </div>
              </div>
              <div class="item-message">
              warning child alert.
              </div>
            </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
