<html>
  <head>
    <title>Cloud Compiler</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/scripts/index.js"></script>
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>
  <body>
    <div class="main-container">
      <h1 class="main-title">
        <span class="main-title-text">Cloud Computing: Linux Cloud C Compiler</span>
      </h1>
      <div class="nav-bar">
          <h2>
              <div class="little-title-text"><span><a href="/">New</a> | <a href="/history/index.html">History</a></span><span class="name">{{name}}</span></div>
          </h2>
      </div>
      <div id="upload_step" class="upload-step step">
        <div class="description padded-description">
          <span class="step-number">Step 1</span> Please upload a flat hierarchy zip containing your source files and headers. We will compile it for you, in parallel.
        </div>
         <form id="fileUpload_form">
           <div class="form-content">
              <span class="file-selector">
                <input type="file" id="file_input"/>
              </span>
              <input type="submit" id="submit_button" class="upload-button" value="Upload"/>
              <div id="uploading_spinner" class="spinner invisible">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
              </div>
              <div class="compiler-options">
                Make sure to enter any necessary compiler flags you need!<br>
                <input type="radio" id="language-c" name="language" value = "c"/>C
                <input type="radio" id="language-cpp" name="language" value = "cpp" checked="true"/>C++<br>
                Langauge Standard:
                <select id="standard"></select><br>
                Optimisation level:
                <select id="opt-level">
                  <option>None</option>
                  <option>O1</option>
                  <option>O2</option>
                  <option>O3</option>
                  <option>Ofast</option>
                </select><br>
                Compiler Flags: <input type="text" id="compiler_flags"/><br>
                Linker Flags: <input type="text" id ="linker_flags"/><br>
              </div>
            </div>
          </form>
      </div>
      <div id="waiting_step" class="waiting-step step">
        <div class="description waiting-description">
          <span class="step-number">Step 2</span> Compiling
        </div>
        <div id="compiling_spinner" class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <span class="tick-trigger"></span>
        <svg version="1.1" class="tick" x="0px" y="0px" viewBox="0 0 37 37" xml:space="preserve">
          <path class="circ path" style="fill:none;stroke:#000;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" d="M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z"	/>
          <polyline class="tick path" style="fill:none;stroke:#000;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" points="11.6,20 15.9,24.2 26.4,13.8 "/>
        </svg>
        <svg class="cross__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
  				<circle class="cross__circle" cx="26" cy="26" r="25" fill="none"/>
				  <path class="cross__path" fill="none" d="M16,16 l20,20" />
          <path class="cross__path" fill="none" d="M16,36 l20,-20" />
        </svg>
      </div>
      <div id="download_step" class="download-step step">
        <div class="description padded-description">
          <span class="step-number">Step 3</span> <span id="results_title"></span>
        </div>
        <div id="results_text" class="results-text">
          The compilation was successful. Click to download executable.
        </div>
        <div class="download-button-container" id="download_button_container">
          <input type="button" value="Download" class="download-button" id="download_button" />
        </div>
      </div>

    </div>
  </body>
</html>
